.file-icon {
    @apply
    block
    w-min
    space-x-3
    flex;
}
.file-browser .file-icon {
    @apply
    mr-5
    mb-5;
}
.file-icon .icon {
    @apply
    flex-shrink-0
    rounded-sm
    shadow
    flex
    items-center
    justify-center
    bg-white
    relative;
    height: 4.25rem;
    width: 3.25rem;
}
.file-icon .icon svg {
    @apply
    h-10
    w-10
    text-gray-200
    ;
}
.file-icon .icon .row-count {
    @apply
    absolute
    bg-red-500
    text-sm;
}
.file-icon .info {
    @apply
    w-32;
}
.file-icon .info .filename {
    max-height: 3rem;
    overflow: hidden;
}