:root {
    --sidebar-open-w: 16rem;
    --sidebar-closed-w: 4rem;
    --header-h: 5rem;
    --transition: 0.1s;
    --test: red;
}

/* Overall dashboard styling */
.dashboard {
    @apply
    flex 
    h-full 
    w-full 
    absolute;
}
/* Dashboard flex where card(s) live */
.dashboard-main-content {
    @apply
    flex
    flex-wrap 
    overflow-scroll;
    height: calc(100%);
    width: calc(100vw - var(--sidebar-closed-w));
}
.show-sidebar .dashboard-main-content {
    width: calc(100vw - var(--sidebar-open-w));
}
.card .backdrop {
    @apply
    p-4 
    rounded;
}
.light .card .backdrop {
    @apply
    bg-gray-100
    bg-opacity-50;
}
.light .card .backdrop div {
    @apply 
    border-gray-200;
}
.dark .card .backdrop {
    @apply
    bg-gray-700
    bg-opacity-50;
}
.dark .card .backdrop div {
    @apply 
    border-gray-600;
}